.rebar
.eunit
.dialyzer_plt
erl_crash.dump
ebin
rel/example_project
.concrete/DEV_MODE
.rebar
*.swp
log/
*.log
all_runs.html
ct_*.css
ct_log*
ct_run*
index.html
jquery*
logs/
test.app.config
variables-ct*
deps
